{% extends 'tmpl/layout.html' %}

{% block title %}Filter page{% endblock %}
{% block breadcrumb %}Filter{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Filter</h2>

<table id="myTab" class="table table-striped">
    <thead>
      <tr>
        <th>Nom </th>
        <th>Adresse IP Source</th>
        <th>Port Source</th>
        <th>Adresse IP Destination</th>
        <th>Port Destination</th>
      </tr>
    </thead>
    <tbody>
    {% for row in items %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.ipAddressSrc }}</td>
            <td>{{ row.portSrc }}</td>
            <td>{{ row.ipAddressDst }}</td>
            <td>{{ row.portDst }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}